[Unit]
Description=Digital Waters Water Monitoring Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=rpi
Group=rpi
WorkingDirectory=/home/rpi/dw
# Clean, known PATH (systemd doesn’t load your shell rc files)
Environment=PYTHONUNBUFFERED=1
Environment=PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin
# Log everything to journal
StandardOutput=journal
StandardError=journal

ExecStart=/usr/bin/bash /home/rpi/dw/dw_startup.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
